[2022-05-05 00:52] tangxifan commented on #640
@ganeshgore My experience is that
- bitstream generation and other OpenFPGA tool runtime is quite small for these large benchmarks. So VPR-only run may not gain too much. In addition, I have already moved a few big benchmarks in the VTR benchmark from regression tests, which take a few hours to run for VPR.
- For the VTR benchmark suite, we already use the fixed routing channel width option. This

[2022-05-05 00:54] tangxifan commented on #640
FYI, currently, regression tests on VTR benchmarks have no verilog generation but only bitstream generation:

https://github.com/lnis-uofu/OpenFPGA/blob/master/openfpga_flow/openfpga_shell_scripts/vtr_benchmark_example_script.openfpga

[2022-05-05 02:28] ganeshgore commented on #640
@tangxifan  Ok, This is how long it takes for VTR_benchmark on the CI.
[code]
I ran `stereovision0.v` locally  it took total 10 minutes and it auto sized to 36x36
Out of which 4 min spent on generating `fabric_independent_bitstream.xml` generation
fabric_bitstream.xml is much faster just 20 sec.

Note: I extracted this information from vpr_stdout.log file

[2022-05-05 02:48] tangxifan commented on #640
@ganeshgore Can you upload the openfpgashell.log for the ``stereovision0.v``. I will take a look.

[2022-05-05 03:20] ganeshgore commented on #640
[openfpgashell.log](https://github.com/lnis-uofu/OpenFPGA/files/8628519/openfpgashell.log)

[2022-05-05 05:55] tangxifan commented on #640
No worries. I agree with you that writing the architecture bitstream database to a file is very time consuming. So I am o.k. to skip that command. Also feel free to reschedule the benchmark sequence if it helps runtime.

[2022-05-05 12:05] A-Sathvik commented on #631
For example, considering https://github.com/lnis-uofu/OpenFPGA/blob/master/openfpga_flow/vpr_arch/k4_frac_N4_tileable_40nm.xml VPR architecture

How do we know/specify how many basic tile locations can the FPGA architecture accommodate?

[2022-05-05 13:27] ganeshgore commented on #631
You can refer to the documentation I shared above that details everything about the architecture modelling.

The architecture file your shared has 3 configuration
- automated (Scales automatically based on the benchmark size)
- 2x2 and,
-  4x4

[2022-05-07 01:44] kangliyu1 opened #645 "some question about FPGA-VERILOG"
Hello! Recently, I wanted to get some results such as the synthesized netlist of the FPGA verilog module generated by Opefpga, but there were many warnings in the process of using DC, which made it impossible to run, and finally killed, so imagine you ask for advice What tools did you use to do the synthesis before? Or what tools did you use to get those reports on area power consumption? Does Ope

[2022-05-07 20:21] #640 closed

[2022-05-17 09:37] cristianomodesti opened #657 "Custom block mapping"
Good morning,
I am trying to build a custom FPGA architecture with some DSP blocks in it but I am not able to make VPR map my test into one of those custom blocks.
As a first test, I am trying to map a 2-bit multiplier into a custom tile (`clb_mul16x16`) in the FPGA architecture.
So I described both VPR and OpenFPGA xml architecture description adding the following:
##### VPR xml
[code]
##### Open

[2022-05-24 20:28] AyaseErii opened #667 "OPENFPGA SHELL RUN failed with binding a standard inverter cell"
In the openfpga flow, I am trying to bind an inverter from sky130 standard cell library to one of the openfpga arch files, it shows two errors after executing "run_fpga_task" at full testbench:
Error 1: Miss a default circuit model for the type inv_buf! Try to define it in your architecture file!
Error 2: Command 'read_openfpga_arch' execution has fatal errors

    <circuit_model type="inv_buf" na

[2022-05-25 17:47] alaindargelas opened #670 "Optimize bitstream generation"
@ManadherRS, please follow up, this PR only partially solves the problem:
https://github.com/lnis-uofu/OpenFPGA/pull/669#event-6677703166

[2022-05-26 03:21] tangxifan commented on #670
Hi @alaindargelas Thanks for logging this.

@ManadherRS I would like to share my thoughts on further optimization.

- Currently, I use encoded data in the storage of bitstream data structure, which can efficiently reduce the peak memory usage. However, encoding and decoding of the data could be computing-intensive, leading to long runtime. We already see in the CI tests that bitstream generation r

[2022-05-26 13:02] mattvlsi opened #672 "Preconfigured testbench not working but full_testbench does"
I have used benchmark_sweep/counter8 task with k6_frac_N10_tileable_40nm architecture. Full testbench successfully runs and give expected results. However, within same task I also generate preconfigured testbench but it does not give expected results. GPIO ports give 1'bx results. What would be my problem? How can I solve this issue? I attached the task file as in form of directly ready-to-run.

R

[2022-06-01 09:14] tangxifan commented on #667
@AyaseErii This is because of the missing syntax ``is_default`` for a given type of circuit models.

https://openfpga.readthedocs.io/en/master/manual/arch_lang/circuit_library/#cmdoption-arg-circuit_model

[2022-06-01 09:21] tangxifan commented on #657
@cristianomodesti Can you check in your openfpgashell.log? There are device utilization stats?

[2022-06-01 09:35] tangxifan commented on #645
@kangliyu1

Since there are many comb loops in FPGA fabric, ASIC synthesis tools have difficulties when optimizing.
Base on our previous practice, we typically use technology mapped netlists (skip synthesis).
We are now actively looking into synthesis support.
We will keep you posted on new features.

[2022-06-01 09:35] #645 closed

[2022-06-01 09:41] tangxifan commented on #565
Undriven nets on cin and cout are normal in current architectures. They are not connected to any block when CLBs are placed in the 1st and last in a column

[2022-06-01 09:41] #565 closed

[2022-06-01 09:42] tangxifan commented on #634
@rockybulwinkle Would you mind to check the architecture using VPR's GUI? It seems to me an architecture containing I/Os in the center of FPGAs.

[2022-06-01 09:44] tangxifan commented on #597
@yunuseryilmaz18 Can you share the openfpga task configuration file?

[2022-06-01 18:17] AyaseErii commented on #667
Thanks! It works when I add ` is_default=true`.

[2022-06-01 18:17] #667 closed

[2022-06-02 03:40] tangxifan commented on #365
Already covered in regression tests:

https://github.com/lnis-uofu/OpenFPGA/blob/70e2330f1740786ac7a108fd4182d63ab75069d3/openfpga_flow/regression_test_scripts/basic_reg_test.sh#L195-L199

[2022-06-02 03:40] #365 closed

[2022-06-02 03:41] #276 closed

[2022-06-02 03:41] tangxifan commented on #276
Close this issue. If you have any follow-up questions, feel free to post in discussion forum or create an issue.

[2022-06-02 03:53] tangxifan opened #676 "Check valid net names in Pin Constraint File (PCF) after parsing"
- [x] FPGA-Verilog

  - Change the following line to ``net="reset_wrong"``

https://github.com/lnis-uofu/OpenFPGA/blob/70e2330f1740786ac7a108fd4182d63ab75069d3/openfpga_flow/tasks/benchmark_sweep/counter8/config/pin_constraints_reset.xml#L5

   - Run the openfpga flow on this task ``benchmark_sweep/counter8

The error should be flagged right after reading the pcf files:

https://github.com/lnis-uo

[2022-06-02 04:33] tangxifan opened #677 "Automate bus group file generation in openfpga flow"
**Is your feature request related to a problem? Please describe.**
Currently, the bus group file has to be manually written as an input for OpenFPGA.
However, the bus group file can be long and cumbersome to write, when HDL designs are huge.
On the other side, the bus group file can be automatically generated using python scripts:
Python libraries such as [PyVerilog](https://github.com/PyHDI/Pyver

[2022-06-02 05:37] tangxifan opened #678 "Output FPGA Device Pin Map File"
**Is your feature request related to a problem? Please describe.**
For user-friendly pin constraint support, the tool requires a device pin map for diverse FPGA architecture/devices.
As FPGA sizes are growing, manually crafting a device pin map file is no longer a good way.

**Describe the solution you'd like**

### User interface

OpenFPGA should have a command

[code]

to enable the file generat

[2022-06-03 08:17] mattvlsi commented on #672
Hi @tangxifan. I used counter8 testcase. But openfpga arch is tileable k6n10 without dpram and DSP blocks. The attached file is a ready-to-run task repo.

[2022-06-04 03:29] tangxifan commented on #672
@mattvlsi I do not see your attachment. Would you mind to re-upload? Thanks

[2022-06-04 13:44] cristianomodesti commented on #657
Actually no device utilisation. But I found out that if I split the ports on the verilog description of the custom block `mul16x16`, the tool correctly recognises it and correctly maps it.

[2022-06-06 12:46] mattvlsi commented on #672
Here is my task folder:
[preconf_testbench.zip](https://github.com/lnis-uofu/OpenFPGA/files/8844551/preconf_testbench.zip)

[2022-06-06 12:50] mattvlsi opened #679 "Some general questions about OpenFPGA"
1-We have a tech-mapped netlist. When I synthesize a netlist from Design Compiler it generates its sdf file too. So that we can run realistic simulations on it. However now we have auto-mapped netlist already. How can we obtain its sdf file? Also there are sdc timing constraints generated. However those are adapted to PTM_40nm technology. For example there is a constrained as "set_max_delay -from

[2022-06-07 05:25] tangxifan commented on #679
@mattvlsi

1. - If you have a tech mapped netlists, we suggest you to use SDC files when resynthesis on some circuits or blocks are required.
  - We are trying our best in OpenFPGA to generate the SDC files for you. When you see like

[code]

   the delay number is extracted from the timing numbers defined in FPGA architecture. It is a step forward to our vision as described in https://openfpga.re

[2022-06-07 06:38] mattvlsi commented on #679
Thanks @tangxifan. When you say "the delay number is extracted from the timing numbers defined in FPGA architecture", did you mean this timing numbers in openfpga arch;
`<delay_matrix type="rise" in_port="in" out_port="out">
        10e-12
      </delay_matrix>
      <delay_matrix type="fall" in_port="in" out_port="out">
        10e-12
      </delay_matrix>`

What exactly is this "**10e-12**" valu

[2022-06-08 09:31] tangxifan commented on #679
@mattvlsi

- The timing value on CBs are computed by using the arch timing parameters with a delay model of  ``R*Cout + Tdel``

https://github.com/lnis-uofu/OpenFPGA/blob/70e2330f1740786ac7a108fd4182d63ab75069d3/openfpga_flow/vpr_arch/k6_frac_N10_tileable_adder_chain_dpram8K_dsp36_fracff_40nm.xml#L374

- The one you found is some cell-level propagation delay, which are used when ``--include_timing

[2022-06-12 19:03] AyaseErii opened #683 "Layout generation of a custom design"
**Is your feature request related to a problem? Please describe.**
I tried to use OpenFPGA to generate a custom FPGA fabric. From the generated FPGA fabric Verilog files, I found that the fabric_top.v describes one tile rather than n x n tile array. After I generated the GDSII from the generated FPGA fabric, it is just a single tile, not an array. So my questions are: Is it the only way to use Cad

[2022-06-13 00:50] tangxifan commented on #683
@AyaseErii OpenFPGA allows you to define any array size thru VPR's architecture description language.

See details in the example:

https://github.com/lnis-uofu/OpenFPGA/blob/d2975071dd7e408ca799e4e430ae55d17ce9fcf2/openfpga_flow/tasks/basic_tests/fix_pins/config/task.conf#L22

[2022-06-13 03:43] AyaseErii commented on #683
Thanks for the help. I know what to do to generate larger fabric now.

[2022-06-13 17:36] yunuseryilmaz18 commented on #597
@tangxifan Hi, I've never tried again after I've opened the issue. Today, I tried once again and I saw the correct results. I will close the issue. Thank you.

[2022-06-13 17:36] #597 closed

[2022-06-14 07:02] yunuseryilmaz18 opened #684 "VTR gives error when using bigger architectures"
I added a new fixed layout configuration to the k4_N4_tileable_40nm VPR architecture description file but VPR gives an error in the placement stage:
[code]
  The width and height of my layout is 8. Also, I tried 5x5, 6x6, and 7x7 and they worked without errors.

[code]

[counter.zip](https://github.com/lnis-uofu/OpenFPGA/files/8897240/counter.zip)

[2022-06-16 14:17] mattvlsi commented on #679
Thanks @tangxifan

[2022-06-16 14:17] #679 closed

[2022-06-16 14:21] mattvlsi opened #686 "CCFF Design in 2019 FPL Paper"
Hi. I saw a custom CCFF design in 2019 FPL paper:

![Ekran Alıntısı](https://user-images.githubusercontent.com/23635889/174090747-f0dcfc19-164d-4c23-9336-6f4174cb3859.PNG)

However as I see, this is a D-Latch instead of D-FlipFlop. Is D-Latch usable for configuration chain?

[2022-06-17 02:10] AyaseErii opened #687 "How to generate an island-style FPGA array layout"
**Is your feature request related to a problem? Please describe.**
I generated a 8x8 FPGA fabric by the OpenFPGA, and then tried to generate a corresponding GDSII by an ASIC tool. I expected to see the 8x8 clearly on the final GDSII. However, the actual generated GDSII has just a relatively large area fulfilled with uniform-distributed wires and cells, i.e. not 8x8 island-style array at all.

Here

[2022-06-17 02:33] AyaseErii commented on #687
@ganeshgore Thanks for your sharing! I will take a look at this paper.

[2022-06-17 06:25] tangxifan commented on #686
@mattvlsi

Regarding the D-flip-flop design, please contact Edouard Giacomin for more details.
He designed the cell and verified it.

[2022-06-20 19:02] mattvlsi commented on #686
Hi @egiacomin. Could you give me the details about the design above?

[2022-06-21 08:47] msaideroglu opened #688 "Fabric key doesn't allow to configure fabric layout size"
Hi. I'm working on FPGA1212_SOFA_CHD_task. When I keep 12x12 layout size, it succesfully generates fabric. However when I give 2x2 as layout size input it gives this type errors:
[code]
When I change `build_fabric --compress_routing --duplicate_grid_pin --load_fabric_key ${EXTERNAL_FABRIC_KEY_FILE}` as `build_fabric --compress_routing --duplicate_grid_pin` then it generates.
What this fabric key d

[2022-06-22 19:01] AyaseErii commented on #687
@ganeshgore Hi Ganesh, thanks again for your help, after reading the paper, I got a general idea about hierarchical floorplanning. I looked at the fabric generated by OpenFPGA. In SRC dictionary, there are several sub-dictionaries: `lb`, `routing`, and `submodule` as you said in the hierarchy.

However, when I tried to compare my generated fabric with the SOFA project fabric, I happened to find so

[2022-06-26 07:34] tangxifan commented on #684
@yunuseryilmaz18 This looks weird. I see the placer is building a non-tileable routing resource graph.
Can you try to use a fixed routing channel width? For example, ``--route_chan_width 100``
See if it can run or not. If still not, it should be bug like

https://github.com/lnis-uofu/OpenFPGA/issues/71

[2022-06-26 07:39] tangxifan commented on #672
@ghost I see in the openfpgashell.log that OpenFPGA runs without errors.
I believe the problem comes from the openfpgashell script which writes both full testbench and preconfigured testbench. This will cause some errors when running HDL simulations using OpenFPGA flow scripts.
Can you try to comment out the LINE 58?

https://github.com/lnis-uofu/OpenFPGA/blob/ef264e59cef36f3ade048a26f46a4feae6b7d

[2022-06-26 07:41] tangxifan commented on #688
@mattvlsi You can see how fabric key works in the online documentation

https://openfpga.readthedocs.io/en/master/manual/arch_lang/fabric_key/

A fabric key is binded to a fixed layout, such as ``12x12``.
If you want a smaller fabric, you need a new fabric key.
Or you can disable the use of  fabric key when calling ``build_fabric``, if you do not need a fabric key.

[2022-06-28 08:16] #688 closed, assigned to nobody

[2022-06-28 08:21] msaideroglu opened #694 "bb_cost_check error with SOFA"
When I try to running full_testbench task with a SOFA architecture file, and choose layout size as 2x2, I am getting this type of error on openfpgashell.log:
`Error 1: bb_cost_check: 0.569693 and bb_cost: 0.55274 differ in check_place.`
What is this error about?
[openfpgashell.log](https://github.com/lnis-uofu/OpenFPGA/files/8999059/openfpgashell.log)

[2022-06-29 05:24] yunuseryilmaz18 commented on #684
Yes, it works now. Thank you. I'm closing the issue.

[2022-06-29 05:24] #684 closed

[2022-06-29 05:26] yunuseryilmaz18 commented on #687
@ganeshgore Hello, is it possible to share PnR scripts for OpenLane or another open-source EDA tool? Do you have any?

[2022-06-29 07:21] ganeshgore commented on #687
@AyaseErii

The fpga_top generated using OpenFPGA has been rename to fpga_core during restructuring, and new fpga_top is just one to one mapping to the fpga_core.

We are in process of developing more sophisticate flow to perform the netlist restructuring, you can expect public release in the coming month.

[2022-06-30 17:37] AyaseErii commented on #687
@ganeshgore Thank you very much, Ganesh! I think now I understand the differences between fpga_top and fpga_core.

[2022-07-04 11:11] msaideroglu opened #704 "Some questions about Memory Bank Protocol"
Hi. I'm trying to do PnR of an OpenFPGA. My technology node is 250nm. So DFF chain based architectures cost a huge area because of DFF's. To be able to reduce area, I saw memory bank and frame based architectures. I also saw that ql_memory_bank protocol is physical design friendly. Should I continue with ql_memory_bank protocol architectures for physical design? Does this choice give me area cost

[2022-07-04 18:03] ganeshgore commented on #704
Hello @mattvlsi
`ql_memory_bank` protocol used latches instead of flip-flops.
Definitely, there is an area benefit but it depends on how the latch cell is implemented in the standard cell library.

**Challenge of using memory bank**:
 `ql_memory_bank` protocol is essentially like SRAM addressing, which has a long bit and word line running across the fabric.
It shud be straightforward if you are pe

[2022-07-04 18:14] tangxifan commented on #704
@mattvlsi Please note that ``ql_memory_bank`` will replace ``memory_bank`` in future. Current ``memory_bank`` will be deprecated.
Therefore, I suggest to start with ``ql_memory_bank`` to avoid any backward compatibility issues.

[2022-07-05 07:34] yunuseryilmaz18 opened #705 "Failed to find matching architecture model for 'ALU'"
Hello, I want to benchmark FPGA architectures with a RISC-V processor. I've created blif file of the processor and run VPR with `./vpr k4_frac_N4_tileable_40nm.xml riscv-cpu.blif --disp on` but it gives `Failed to find matching architecture model for 'ALU'` error. How can I run designs with multiple files in VPR?

The blif file:
[riscv-cpu.zip](https://github.com/lnis-uofu/OpenFPGA/files/9045531/r

[2022-07-07 05:32] yunuseryilmaz18 opened #706 "Synthesis of RISC processor does not end"

[2022-07-07 13:47] Baungarten-CINVESTAV opened #708 "OpenFPGA Shell Run run failed with returncode -6"
Hello everyone,
The issues is that i'm trying to execute the testbench with the AES128 algorithm, the verilog files are from "https://opencores.org/projects/tiny_aes" and it works perfectly, but when i try to use those files to run the Operating Phase testbench the following error appears.

ERROR (00_aes_128_MIN_ROUTE_CHAN_WIDTH) - OpenFPGA Shell Run run failed with returncode -6
ERROR (00_aes_128

[2022-07-07 17:09] tangxifan commented on #705
@yunuseryilmaz18 It looks like you have defined a blackbox ``ALU`` in Yosys when synthesis.

![image](https://user-images.githubusercontent.com/11499826/177830730-8053d4ff-ac6f-461f-b4bc-ce85428c1239.png)

Please double check your synthesis scripts. If you are using OpenFPGA's example scripts, you expect to see only LUTs and FFs.

https://github.com/lnis-uofu/OpenFPGA/blob/master/openfpga_flow/mis

[2022-07-07 17:13] tangxifan commented on #708
@Baungarten-CINVESTAV See answers https://github.com/lnis-uofu/OpenFPGA/issues/515#issuecomment-1039906933

[2022-07-07 18:46] #708 closed

[2022-07-11 05:27] Baungarten-CINVESTAV opened #710 "Simple questions about OpenFPGA"
Hello every one,

I’m trying to implement an FPGA capable of running the AES128 algorithm. Trying to develop that FPGA some problems/questions appear.

1-	How can I develop my own operating testbench, when I implement the Operating Phase testbench the signals that it creates are random, so the reset, load or decrypt signal are on and off, making it impossible for the algorithm to finish.
(I use th

[2022-07-12 17:52] tangxifan commented on #710
@Baungarten-CINVESTAV Can you share the openfpga XML file? It matters which configuration protocol you are using.

[2022-07-12 17:55] tangxifan commented on #706
@yunuseryilmaz18 It is hard to diagnose without details. The benchmark ``RISC_posedge_clk`` is covered in regression tests

https://github.com/lnis-uofu/OpenFPGA/blob/master/openfpga_flow/tasks/fpga_bitstream/generate_bitstream/configuration_chain/device_96x96/config/task.conf

Yosys does finish in that case. Maybe it is better that you can share your yosys scripts.

[2022-07-12 19:08] Baungarten-CINVESTAV commented on #710
[arch.zip](https://github.com/lnis-uofu/OpenFPGA/files/9096096/arch.zip)

[2022-07-12 20:18] tangxifan commented on #710
@Baungarten-CINVESTAV This is not normal when using the configuration chain protocol.  Can you share your openfpgashell.log and task.conf?
I can check where the memory leaks happens.

[2022-07-12 21:57] Baungarten-CINVESTAV commented on #710
yes, here are the files

[Shell_config.zip](https://github.com/lnis-uofu/OpenFPGA/files/9097118/Shell_config.zip)

[2022-07-12 22:48] tangxifan commented on #710
@Baungarten-CINVESTAV I double checked your log files. OpenFPGA's peak memory usage is 242MB.

[code]

You see a huge memory usage when running iVerilog simulation. This is expected. For large FPGA designs, I suggest to use commercial simulators, e.g., Modelsim, Ncsim and VCS.

[2022-07-14 19:17] #710 closed

[2022-07-20 11:45] mustafaarslan0 opened #718 "FPGA Netlist changes when benchmark changes"
Hi. I try to generate fabric dependent bitstream to FPGA that generated by OpenFPGA flow. But when I changed the benchmark, OpenFPGA flow generates different FPGA netlist (minor differences) with same architecture files. Why does FPGA netlist change with different benchmark with same architecture files? How can I generate bitstream to exactly same FPGA?

Example differences from file:
/home/arslan

[2022-07-20 17:37] tangxifan commented on #718
@mustafaarslan0 This is because VPR was run to find the best routable channel width. You can fix the route chan width by referring to the test case:

https://github.com/lnis-uofu/OpenFPGA/blob/9dca626a3d7161c087d48eb8da5f7fad891b655b/openfpga_flow/tasks/fpga_bitstream/generate_bitstream/configuration_chain/device_96x96/config/task.conf#L23-L24

[2022-07-21 06:39] mattvlsi opened #721 "Targeting an operating frequency"
I have a fabric that successfully runs benchmarks on it with a 2x2 sized layout. I want to do its pnr works and see how much operating frequency I can achieve with it. What strategy I should follow during applying timing constraints in DC synthesis part? My idea is apply same clk period constraint for all CBs and CLB blocks and make macro with them. So placement can be done. Is it a true approach?

[2022-07-21 16:22] ganeshgore commented on #721
​Hello

The ​​operating frequency of the counter implemented on the FPGA depends upon various factors, like:
(1) Architecture, whether the counter will be implemented on the LUTs, soft logic, or a hard logic
(2) Synthesis script used in your FPGA CAD flow (if it can infer counter logic and implement on any of the above-specialized structures); in the typical case it will just implemented with the

[2022-07-21 16:53] mattvlsi commented on #721
Thanks @ganeshgore. I understood it

[2022-07-21 16:53] #721 closed

[2022-07-22 00:05] omarghoneim3 opened #724 "I'am not sure where does error come from."
python3 openfpga_flow/scripts/run_fpga_task.py compilation_verification
 INFO (     MainThread) - Set up to run 2 Parallel threads
 INFO (     MainThread) - Currently running task compilation_verification
 INFO (     MainThread) - Created "run004" directory for current task run
 INFO (     MainThread) - Running "vpr_blif" flow
 INFO (     MainThread) - Found 1 Architectures 1 Benchmarks & 1 Script

[2022-07-22 00:10] omarghoneim3 commented on #724
I tried to debug it, but it doesnot get clearer
 run-task basic_tests/full_testbench/configuration_chain
 INFO (     MainThread) - Set up to run 2 Parallel threads
 INFO (     MainThread) - Currently running task basic_tests/full_testbench/configuration_chain
 INFO (     MainThread) - Created "run002" directory for current task run
 INFO (     MainThread) - Running "yosys_vpr" flow
 INFO (     Mai

[2022-07-22 00:20] tangxifan commented on #724
@omarghoneim3 These options will help you on getting more debugging messages

https://openfpga.readthedocs.io/en/master/dev_manual/regression_tests/#test-options

[2022-07-22 00:35] omarghoneim3 commented on #724
I try to debug, but it shows me this
python3 openfpga_flow/scripts/run_fpga_task.py compilation_verification--debug
 INFO (     MainThread) - Set up to run 2 Parallel threads
 INFO (     MainThread) - Currently running task compilation_verification--debug
ERROR (     MainThread) - Task directory [['compilation_verification--debug']] not found locally at [compilation_verification--debug], absolutel

[2022-07-22 00:37] omarghoneim3 commented on #724
python3 openfpga_flow/scripts/run_fpga_task.py compilation_verification--show_thread_logs
 INFO (     MainThread) - Set up to run 2 Parallel threads
 INFO (     MainThread) - Currently running task compilation_verification--show_thread_logs
ERROR (     MainThread) - Task directory [['compilation_verification--show_thread_logs']] not found locally at [compilation_verification--show_thread_logs], ab

[2022-07-22 00:37] tangxifan commented on #724
@omarghoneim3  I think you miss the space between compilation_verification--debug

[2022-07-22 00:42] omarghoneim3 commented on #724
python3 openfpga_flow/scripts/run_fpga_task.py compilation_verification --debug
 INFO (     MainThread) - Setting loggger in debug mode
 INFO (     MainThread) - Set up to run 2 Parallel threads
 INFO (     MainThread) - Currently running task compilation_verification
 INFO (     MainThread) - Created "run007" directory for current task run
 INFO (     MainThread) - Running "vpr_blif" flow
 INFO (

[2022-07-22 00:44] tangxifan commented on #724
Can you add option ``--show_thread_logs``?

[2022-07-22 00:47] omarghoneim3 commented on #724
python3 openfpga_flow/scripts/run_fpga_task.py compilation_verification --show_thread_logs
 INFO (     MainThread) - Set up to run 2 Parallel threads
 INFO (     MainThread) - Currently running task compilation_verification
 INFO (     MainThread) - Created "run008" directory for current task run
 INFO (     MainThread) - Running "vpr_blif" flow
 INFO (     MainThread) - Found 1 Architectures 1 Be

[2022-07-22 00:47] GaoGuanxi commented on #724
ModuleNotFoundError: No module named 'envyaml'

[2022-07-22 00:50] tangxifan commented on #724
Remember to install python dependencies: (See doc https://openfpga.readthedocs.io/en/master/tutorials/getting_started/compile/)

[code]

[2022-07-22 00:54] #724 closed

[2022-07-22 00:54] omarghoneim3 commented on #724
thank you so much :)

[2022-07-22 06:53] mustafaarslan0 commented on #718
It works, thanks.

[2022-07-22 06:53] #718 closed

[2022-07-25 06:27] yunuseryilmaz18 commented on #705
I've added -noblackbox argument to read_verilog command and it works now. Thank you.

[2022-07-25 06:27] #705 closed

[2022-07-25 07:08] yunuseryilmaz18 commented on #706
I've run the task you mentioned and the synthesis finish when I run it. The mistake I made was the top module, I set the top module as RISC_core_mem_top. After changing the top module to RISC_core_top, the synthesis finished successfully.

[2022-07-25 07:08] #706 closed

[2022-07-26 13:34] yunuseryilmaz18 opened #730 "Benchmarking a FIFO circuit"

[2022-07-26 17:23] tangxifan commented on #730
@yunuseryilmaz18 I think this is more like a Yosys script issue. You see $alu and $DFFE_PP1P due to some mapping failures in Yosys.

Can you share which Yosys scripts you are using?

[2022-07-26 17:42] yunuseryilmaz18 commented on #730
@tangxifan I'm using the [template script](https://github.com/lnis-uofu/OpenFPGA/blob/master/openfpga_flow/misc/ys_tmpl_yosys_vpr_bram_flow.ys) in the repo.

[2022-07-28 10:49] z-a-p-k-i-n-g opened #734 "run-task compilation_verification command on docker container isn't working"
Hi there,

I am on Ubuntu 22.04. Following the steps on doc, I am ending up with Permission denied errors.

I tried copying the docker directory to local machine and running the command from there. But still there is some error in loading libreadpine.so.7 shared library when yosys is trying to run, which is not available for Ubuntu 22.04.

I even tried compiling from source which is resulting in e

[2022-07-29 17:20] z-a-p-k-i-n-g commented on #734
Found a workaround (probably this is not the way it usually works for all).....

Using docker cp command I copied the /opt/openfpga/ directory in the docker container to a working directory in my local machine.

 Changing read/write permissions and
then mounting this working directory onto /opt/openfpga/ while using docker run -v command, solved the "permission denied" errors.

[2022-07-29 17:20] #734 closed

[2022-07-29 18:27] ganeshgore commented on #734
Hello @z-a-p-k-i-n-g

Thank you for your interest in the tool.
The following instructions did not work for you.

[code]

[2022-07-29 18:34] z-a-p-k-i-n-g commented on #734
Nope they didn't work for me. It threw "command not found" error

[2022-08-02 04:49] tangxifan commented on #401
@rakeshm75 @tpagarani Once the PR #737 is merged, this limitation should be removed.

[2022-08-02 06:11] #401 closed

[2022-08-17 17:34] tornupnegatives opened #746 "Support for multiple PCF at a time"
It is presently impossible to apply pin constraints to more than one benchmark at a time. Setting the `openfpga_pcf` and `openfpga_vpr_fix_pins` parameters in the configuration file will cause all non-target benchmarks to fail synthesis and place and route.

[ ] OpenFPGA flow

[ ] VPR

[code]

    - [ ] Ubuntu 18.04

[2022-08-17 17:49] tangxifan commented on #746
@tornupnegatives Please give a try like:

https://github.com/lnis-uofu/OpenFPGA/blob/2a43843bd7a7e73f2fdfd9563d34cdb3016d4051/openfpga_flow/tasks/quicklogic_tests/flow_test/config/task.conf#L67

For each benchmark, you specify a different parameters. For example, ``bench0_openfpga_pcf``

[2022-08-17 17:49] #746 closed

[2022-08-20 00:54] jaysunl opened #748 "Error while compiling: size of array 'altStackMem' is not an integral constant-expression"
I am trying to install and compile OpenFPGA using the tutorial and got this error while running ```make all -j```:
![Screenshot 2022-08-19 175411](https://user-images.githubusercontent.com/74435747/185723131-6e0cb143-fcb0-490d-ac95-0dc2ac9d207d.png)
How to fix? Thanks

[2022-08-23 05:40] yunuseryilmaz18 opened #749 "The reset signal is not detected on FPGA"
[fracff-test.zip](https://github.com/lnis-uofu/OpenFPGA/files/9394790/fracff-test.zip)

[2022-08-23 05:50] msaideroglu commented on #704
Thanks a lot for your detailed explanations.

[2022-08-23 05:50] #704 closed

[2022-08-30 20:52] tangxifan commented on #748
Hello, please provide your OS and compiler information. You can follow the issue template: https://github.com/lnis-uofu/OpenFPGA/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2022-08-30 20:56] tangxifan commented on #749
@yunuseryilmaz18 Please check the usage of

- repack pin constraints https://openfpga.readthedocs.io/en/master/manual/openfpga_shell/openfpga_commands/fpga_bitstream_commands/#cmdoption-design_constraints
- pin constraint file https://openfpga.readthedocs.io/en/master/manual/openfpga_shell/openfpga_commands/fpga_verilog_commands/#cmdoption-pin_constraints_file

[2022-08-31 14:37] Sazadur opened #756 "How can I modify the K4 skywater130nm architecture to a K3 LUT size?"
Hi, I am fairly new with OpenFPGA. I have been wondering if anyone can point me in the right direction to modify the k4_frac_N8_tileable_register_scan_chain_nonLR_caravel_io_skywater130nm architecture file to reduce the LUT size and LE (K3N2)? Thanks in advance,

[2022-08-31 23:36] tangxifan commented on #756
@Sazadur Please check VTR's architecture language： https://docs.verilogtorouting.org/en/latest/arch/reference/#complex-blocks

[2022-08-31 23:49] Sazadur commented on #756
@tangxifan, thank you for your response. I will look into this.

[2022-09-01 12:38] yunuseryilmaz18 opened #758 "The regout isn't connected to anywhere in k6_frac_N10_tileable_adder_register_chain_40nm architecture"
[register_chain.zip](https://github.com/lnis-uofu/OpenFPGA/files/9469760/register_chain.zip)
[shift_reg.zip](https://github.com/lnis-uofu/OpenFPGA/files/9469769/shift_reg.zip)

[2022-09-01 17:20] tangxifan commented on #758
@yunuseryilmaz18 I would suggest not to use the shift register mode for now, because it is a bit buggy. We are still investigating if we should have such feature in CLB or not.

[2022-09-03 15:51] Baungarten-CINVESTAV opened #764 "Question about GPIO selection"
Hello

My question is about the selection of the GPIO after my FPGA was made.

 For example, if i have my FPGA and i want to implement an "AND" gate I just need to generate the bitstream with the "AND" gate and then send it to the FPGA to be configured.

The question is how i can choose the specific port that will be coneted to that "AND" gate and then generate the bitstrean to implemen it in the

[2022-09-03 18:10] tangxifan commented on #764
@Baungarten-CINVESTAV

Please check out the following examples:

https://github.com/lnis-uofu/OpenFPGA/blob/master/openfpga_flow/tasks/basic_tests/constrain_pin_location/config/task.conf

https://github.com/lnis-uofu/OpenFPGA/blob/master/openfpga_flow/tasks/basic_tests/fix_pins/config/task.conf

With documentation:

https://openfpga.readthedocs.io/en/master/manual/openfpga_shell/openfpga_commands/

[2022-09-05 15:47] #764 closed

[2022-09-06 06:06] yunuseryilmaz18 commented on #758
Thank you. I changed the physical mode of CLBs but still, it didn't map on the shift register.
[vpr_arch.zip](https://github.com/lnis-uofu/OpenFPGA/files/9493681/vpr_arch.zip)

[2022-09-06 09:32] narutozxp opened #765 "How to fix the input and output ports of the benchmark to a specific position when using openfpga"
In the process of using openfpga before, I don't know how to fix the benchmark port. How to fix the input and output pins of the benchmark in the process of using openfpga?

[2022-09-06 16:41] tangxifan commented on #758
@yunuseryilmaz18 To use shift registers, you need to first ensure that the .blif model in your shift register pb_type is supported by synthesis tool (double check your tech. lib). Second, to support shift register chains, you may need to implement a yosys plugin, as  the quicklogic's yosys plugin (open-source).

[2022-09-06 16:41] tangxifan commented on #765
@narutozxp Please check the answer: https://github.com/lnis-uofu/OpenFPGA/issues/749#issuecomment-1232159652

[2022-09-06 16:52] tangxifan commented on #125
Close the issue as answered. If you need further help, please comment (reopen this issue) or create a new issue.
Thank you for the interests in OpenFPGA.

[2022-09-06 16:52] #125 closed

[2022-09-06 16:52] tangxifan commented on #765
Close the issue as answered. If you need further help, please comment (reopen this issue) or create a new issue.
Thank you for the interests in OpenFPGA.

[2022-09-06 16:52] #765 closed

[2022-09-06 16:53] tangxifan commented on #683
Close the issue as answered. If you need further help, please comment (reopen this issue) or create a new issue.
Thank you for the interests in OpenFPGA.

[2022-09-06 16:53] #683 closed

[2022-09-06 16:53] tangxifan commented on #370
Close the issue as answered. If you need further help, please comment (reopen this issue) or create a new issue.
Thank you for the interests in OpenFPGA.

[2022-09-06 16:53] #370 closed

[2022-09-06 16:54] tangxifan commented on #756
Close the issue as answered. If you need further help, please comment (reopen this issue) or create a new issue.
Thank you for the interests in OpenFPGA.

[2022-09-06 16:54] #756 closed

[2022-09-06 16:55] tangxifan commented on #678
Addressed in https://github.com/lnis-uofu/OpenFPGA/pull/732

[2022-09-06 16:55] #678 closed

[2022-09-06 16:56] tangxifan commented on #670
Applied a quick patch in https://github.com/lnis-uofu/OpenFPGA/pull/760

[2022-09-06 16:56] #670 closed

[2022-09-06 16:56] tangxifan commented on #687
Close the issue as answered. If you need further help, please comment (reopen this issue) or create a new issue.
Thank you for the interests in OpenFPGA.

[2022-09-06 16:56] #687 closed

[2022-09-06 16:57] tangxifan commented on #377
Close the issue as answered. If you need further help, please comment (reopen this issue) or create a new issue.
Thank you for the interests in OpenFPGA.

[2022-09-06 16:57] #377 closed

[2022-09-06 16:58] tangxifan commented on #120
Close the issue as answered. If you need further help, please comment (reopen this issue) or create a new issue.
Thank you for the interests in OpenFPGA.

[2022-09-06 16:58] #120 closed

[2022-09-06 16:59] tangxifan commented on #99
Addressed in the current master already.

https://github.com/lnis-uofu/OpenFPGA/blob/85532dd12918d97179ddc732c8e15902523a5bcd/.github/workflows/install_dependencies_build.sh#L19

Close this issue.

[2022-09-07 01:44] narutozxp commented on #749
I know that openfpga provides a file to describe the pin constraints, but I don't know how openfpga calls this file. Or should I use vpr --place_file place_file_name.place for my purpose?

[2022-09-07 01:58] tangxifan commented on #749
@narutozxp Please look into this example: https://github.com/lnis-uofu/OpenFPGA/tree/master/openfpga_flow/tasks/basic_tests/constrain_pin_location/config

[2022-09-07 13:52] msaideroglu opened #769 "Full testbench freezes at the middle, but preconfigured testbench successfully completes"
**Describe the bug**
I'm running testbenches with sky130 architecture files. When I synthesize a fabric and benchmarks for it, preconfigured testbenches are successfully runned. However when I run full_testbench for those benchmarks it freezes at the middle of configuration phase. I added FUNCTIONAL 1, and UNIT_DELAY #0.1 parameters to sky130_hd.v file. What could be the reason?

 - Version:
Curre

[2022-09-07 16:41] tangxifan commented on #769
@msaideroglu If you added the flags, it should help HDL simulators to converge easily. It should not slow down the simulation. Typically, simulators, e.g., modelsim, show debugging information / logs when they have problems in converging. Please checkout your log files.

[2022-09-07 16:47] tangxifan commented on #749
@narutozxp Yes. This is a new feature that is added recently.

[2022-09-08 13:59] omarghoneim3 opened #771 "issue with a nand gate"
I get this message when I use NAND gate instead of AND GATE
python3 openfpga_flow/scripts/run_fpga_task.py basic_tests/full_testbench/configuration_chain
 INFO (     MainThread) - Set up to run 2 Parallel threads
 INFO (     MainThread) - Currently running task basic_tests/full_testbench/configuration_chain
 INFO (     MainThread) - Created "run025" directory for current task run
 INFO (     MainT

[2022-09-08 14:03] omarghoneim3 commented on #771
NAND2.v
/////////////////////////////////////////
//  Functionality: 2-input NAND
//  Author:        Xifan Tang
////////////////////////////////////////
`timescale 1ns / 1ps

module Nand2(
  a,
  b,
  c);

input wire a;
input wire b;
output wire c;

assign c = ~ (a & b);

endmodule
NAND_latch
/////////////////////////////////////////
//  Functionality: 2-input AND with clocked
//                 a

[2022-09-08 16:29] tangxifan commented on #771
@omarghoneim3 Can you enable ``--debug --show_thread_logs`` when running the test? It will show detailed error messages.

[2022-09-08 17:57] zliu1Charlotte opened #772 "Creating Spypads Using XML Syntax"
Hi I did a walk through on "Creating Spypads Using XML Syntax".
After comment out this in the conf file:
[SCRIPT_PARAM_MIN_ROUTE_CHAN_WIDTH]
end_flow_with_test=
#vpr_fpga_verilog_formal_verification_top_netlist=

I ran this: python3 openfpga_flow/scripts/run_fpga_task.py fpga_verilog/spypad --debug --show_thread_logs

but I got errors on iverilog:
RROR (00_and2_MIN_ROUTE_CHAN_WIDTH) - iverilog_ver

[2022-09-08 18:34] tangxifan commented on #772
@zliu1Charlotte If you comment out the line, you are requesting openfpga flow to run a full testbench simulation. But the openfpgashell script you are using only supports preconfigured testbench generation.

Please refer to the example script:

https://github.com/lnis-uofu/OpenFPGA/blob/master/openfpga_flow/openfpga_shell_scripts/example_script.openfpga

[2022-09-08 18:34] #772 closed

[2022-09-08 19:27] zliu1Charlotte commented on #772
Thanks. So this error is normal to shown in this example correct? or is there a way to fix this?
But the vcd file is not generated.

in the iverilog_output.txt

 iverilog -o compiled_and2 ./SRC/and2_include_netlists.v -s and2_autocheck_top_tb -I ./SRC
  error: Unable to find the root module "and2_autocheck_top_tb" in the Verilog source.
       : Perhaps ``-s and2_autocheck_top_tb'' is incorrect?

[2022-09-08 19:28] tangxifan commented on #772
@zliu1Charlotte it is normal when you modify the scripts. If you see errors in existing regression tests (no modification), it is a valid bug.

[2022-09-08 19:30] zliu1Charlotte commented on #772
Thanks, is there a way to "source iverilog_output.txt" without the error to see the vcd file?

[2022-09-08 19:45] zliu1Charlotte opened #773 "Build an FPGA fabric using Standard Cell Libraries - simulation error"
Hi,

I am doing a walk-through on Build an FPGA fabric using Standard Cell Libraries from OpenFPGA Documentation, Release 1.1.457.

I am not able to get what Fig. 5.2: Simulation Waveforms with OpenFPGA Circuit Model is showing.

My vcd file only gives up to 1892ps (in Fig. 5.2 we can see simulation up to 30ns). Is there a way to fix this? Thanks.

[2022-09-08 20:04] tangxifan commented on #772
@zliu1Charlotte I believe you should change the openfpgashell script by referring to the example:

https://github.com/lnis-uofu/OpenFPGA/blob/1073c3306ba4ec3005a1392e14e422dbbc9a565a/openfpga_flow/openfpga_shell_scripts/example_script.openfpga#L58

[2022-09-08 20:07] tangxifan commented on #773
@zliu1Charlotte Can you provide the link to the documentation?
You can customize the simulation period by using the XML syntax in simulation setting files:

https://openfpga.readthedocs.io/en/master/manual/arch_lang/simulation_setting/#operating-clock-setting

[2022-09-08 20:07] #773 closed

[2022-09-08 22:00] ganeshgore opened #774 "Splitting pin locations for a tile with capacity >1"
In the architecture I am working with, the grid_io is modeled as follows.
In this particular layout, the IOs are placed in the grid instead of periphery.
How can I split the `a2f_o` output pin locations to the left, right, and bottom?
a2f_o signal is single bit, so something like io_top.a2f_o[0:2] does not work

**IO_TILE**
[code]
#### Expected Behaviour

Options to declare pin locations when

###

[2022-09-09 01:43] #774 closed

[2022-09-09 17:21] tornupnegatives opened #776 "Pin Constraint Explicit Port Direction"
**Is your feature request related to a problem? Please describe.**
When applying pin constraints via PCF files, the direction (input/output) is currently inferred from the name of the top-level port (_A2F/_F2A). However, in designs which to not use this naming convention, OpenFPGA cannot detect the direction of the port.

**Describe the solution you'd like**
The pcf2place parser should read the `g

[2022-09-09 17:23] tangxifan commented on #776
@tornupnegatives OpenFPGA reads the post-synthesis netlist (.blif) to identify the input/output for a given port. We do not use hardcoded names to identify port direction.

[2022-09-09 17:33] tornupnegatives commented on #776
Allow me to elaborate.

The architecture I am working on uses a bidirectional GPIO interface like such:
[code]

I would like to perform pin constraining using the following generic names:
[code]

However, OpenFPGA crashes with the following error:
[code]

According to the [documentation](https://openfpga.readthedocs.io/en/master/manual/file_formats/pin_table_file/?highlight=A2F#pin-table-file-csv)

[2022-09-09 19:09] tangxifan commented on #776
@tornupnegatives I just double checked the codes. I believe the documentation is out-of-date. The restriction is no longer there. Thank you for the clarification.

[2022-09-09 19:15] tangxifan commented on #776
@tornupnegatives I found where the limitation comes from. Thank you for pointing this out. Will fix it.

[2022-09-12 07:08] yunuseryilmaz18 opened #778 "Technology Map for Hard Adder"
Hi, do I need to use a technology map file for the architectures with hard adders (e.g. k6_frac_N10_adder_chain_40nm)? I saw some tasks in the repo but the circuits with adders are not used in them.

[2022-09-12 09:36] omarghoneim3 commented on #771
python3 openfpga_flow/scripts/run_fpga_task.py basic_tests/full_testbench/configuration_chain --show_thread_logs
 INFO (     MainThread) - Set up to run 2 Parallel threads
 INFO (     MainThread) - Currently running task basic_tests/full_testbench/configuration_chain
 INFO (     MainThread) - Created "run030" directory for current task run
 INFO (     MainThread) - Running "yosys_vpr" flow
 INFO (

[2022-09-12 10:13] omarghoneim3 opened #779 "problem with modelsim! The model sim project is not created"
python3 openfpga_flow/scripts/run_modelsim.py basic_tests/full_testbench/configuration_chain --run_sim
INFO (MainThread) - Created log file at /home/omar/OpenFPGA/openfpga_flow/tasks/basic_tests/full_testbench/configuration_chain/latest/modelsim_run.log
INFO (MainThread) - Found 0 INI files
INFO (MainThread) - Launching 2 parallel threads
INFO (MainThread) - = = = == = = == = = == = = == = = == =

[2022-09-12 16:21] tangxifan commented on #779
@omarghoneim3 Run sim is not maintained these days due to the lack of modelsim licenses. Please create the MSIM project yourself.

[2022-09-12 16:21] #779 closed

[2022-09-12 16:22] tangxifan commented on #778
@yunuseryilmaz18 You are right. Currently, we are still working on an open-source technology library and synthesis support for hard adders.

[2022-09-12 16:22] #778 closed

[2022-09-12 16:24] tangxifan commented on #771
@omarghoneim3 The module name in your HDL is ``Nand2`` while in the task configuration file is ``nand2``. Please be aware that the name is case-sensitive.

[2022-09-12 16:24] #771 closed

[2022-09-12 18:13] omarghoneim3 opened #781 "creating Xor instead of and"
python3 openfpga_flow/scripts/run_fpga_task.py basic_tests/full_testbench/configuration_chain --show_thread_logs
 INFO (     MainThread) - Set up to run 2 Parallel threads
 INFO (     MainThread) - Currently running task basic_tests/full_testbench/configuration_chain
 INFO (     MainThread) - Created "run057" directory for current task run
 INFO (     MainThread) - Running "yosys_vpr" flow
 INFO (

[2022-09-13 12:11] narutozxp opened #782 "Whether openfpga has modified the original VPR？"
When I use the VPR in a separate VTR for placement and routing (vpr /home/data/shawn/eFPGA/Code/OpenFPGA/OpenFPGA-1.1.0/openfpga_flow/tasks/basic_tests/narutozxp/work/run021/k6_frac_N10_tileable_adder_chain_dpram8K_dsp36_fracff_40nm/FSM_top /MIN_ROUTE_CHAN_WIDTH/arch/k6_frac_N10_tileable_adder_chain_dpram8K_dsp36_fracff_40nm.xml FSM_top.blif --device 12x12clb --constant_net_method route), it will

[2022-09-13 13:20] #769 closed

[2022-09-13 14:23] omarghoneim3 commented on #781
# = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
# Configuration file for running experiments
# = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
# timeout_each_job : FPGA Task script splits fpga flow into multiple jobs
# Each job execute fpga_flow script on combination of architecture & benchmark
# timeout_each_job is timeout for each job

[2022-09-13 14:25] omarghoneim3 commented on #781
/////////////////////////////////////////
//  Functionality: 2-input xor2
//  Author:        Xifan Tang
////////////////////////////////////////
`timescale 1ns / 1ps

module xor2(
  a,
  b,
  c);

input wire a;
input wire b;
output wire c;

assign c = (a ^ B);

endmodule

[2022-09-13 15:44] #781 closed

[2022-09-13 16:40] tangxifan commented on #782
@narutozxp Please checkout the documentation:

https://openfpga.readthedocs.io/en/master/manual/arch_lang/addon_vpr_syntax/

[2022-09-13 16:40] #782 closed, assigned to nobody

[2022-09-13 16:44] tangxifan commented on #782
We are contributing OpenFPGA's technical features to VTR upstream these days. See details in https://github.com/lnis-uofu/OpenFPGA/pull/747

[2022-09-14 06:40] msaideroglu commented on #672
Hi @tangxifan. I am facing the same issue described above. I um running **/openfpga_flow/tasks/fpga_verilog/bram/dpram1k** task. It successfully completes as displayed in shell. However preconfigured testbench can not display true results. All Ram input and outputs are displaying 1'bx as well as behavioral benchmark ports. However if I run full_testbench, benchmark ports displays 1'bx again but fp

[2022-09-14 10:29] yunuseryilmaz18 commented on #778
I wrote a blif file to map on hard adders. The circuit is placed successfully, but the circuit cannot be routed in VPR flow. The vpr_stdout.log error screenshot is added below:
![image](https://user-images.githubusercontent.com/30428379/190129295-29f0e924-3c81-43da-8902-5d351bd8422a.png)

Also, I've added my files below:
[adder_chain.zip](https://github.com/lnis-uofu/OpenFPGA/files/9565477/adder_c

[2022-09-14 10:44] shawn080719 opened #784 "SDC Analysis File Probelm"
When I recently synthesiszed the fabric file generated by OpenFPGA, I used the sdc file in the SDC Analysis folder (According to the description, it can interrupt other parts of the entire fabric except the circuits used in the benchmark). But the effect is not ideal, the DC display still has a combinational logic loop. Have you ever encountered this problem ?

[2022-09-14 23:56] tangxifan commented on #784
@shawn080719 Please be aware of that SDC analysis may not be fully functional due to the lack of STA regression tests.

[2022-09-14 23:57] tangxifan commented on #784
In a to-do list, this should be resolved in future when developing SDC regression tests

[2022-09-14 23:59] tangxifan commented on #778
@yunuseryilmaz18 If it is not routable, please check if ``cin`` or ``cout`` of your ``pb_type`` is accessible by global routing or not. In VPR examples, the first adder in the chain does not get input from ``cin`` (it is set to unconnected). You may need to double check your netlists.

[2022-09-15 01:59] shawn080719 commented on #784
Thank you! That helps a lot.

[2022-09-15 05:20] msaideroglu opened #788 "Full testbench is working but preconfigured testbench and behavioral benchmark are giving 1'bX"
I um running **/openfpga_flow/tasks/fpga_verilog/bram/dpram1k** task. It successfully completes as displayed in shell. However preconfigured testbench can not display true results. All Ram input and outputs are displaying 1'bx as well as behavioral benchmark ports. However if I run full_testbench, benchmark ports displays 1'bx again but fpga ports display logic values, but I can not check if the d

[2022-09-15 15:17] zliu1Charlotte opened #789 "Differences in two openfpga_arch"
Hi, I have a short question,
What is the differences between:
k4_frac_N8_reset_softadder_register_scan_chain_frac_dsp16_caravel_io_skywater130nm_fdhd_cc_openfpga.xml
and
k4_frac_N8_reset_softadderSuperLUT_register_scan_chain_caravel_io_skywater130nm_fdhd_cc_openfpga.xml
Why in the openfpga_flow/tasks/quicklogic_tests/lut_adder_test/config/task.conf
We choose k4_frac_N8_reset_softadderSuperLUT_regi

[2022-09-15 16:56] ganeshgore opened #790 "Add direction information in GSB output of CB"
**Is your feature request related to a problem? Please describe.**
Currently, the GSB information extracted for the connection box from the OpenFPGA has the following structure.
The side attribute for driver_node always shows `left` for `CHANX` and `top` for `CHANY`, Whereas these channels are coming from two different sides, it will be good to have that information captured in the side parameters

[2022-09-15 16:59] tangxifan commented on #790
@ganeshgore Currently, direct connections between tiles, as defined in the ``<directlist>`` of VPR's architecture description file, are not considered as part of the GSB. They are implemented/instantiated at the top-level module. This helps us to reduce the number of unique modules. We can output another file containing these information for you, if needed.

[2022-09-15 17:24] tangxifan commented on #790
O.K. You want to know the direction of these uni-directional routing tracks? This can be quickly done.

[2022-09-15 17:29] tangxifan commented on #789
@zliu1Charlotte It is because the soft adder implementation in the ``softadder.xml`` is not well supported by QuickLogic's synthesis engine,  while the ``softadderSuperLUT`` is.

[2022-09-15 17:40] #789 closed

[2022-09-15 17:48] tangxifan commented on #788
@msaideroglu I think it is due to the lack of initial states of the RAM block.

https://github.com/lnis-uofu/OpenFPGA/blob/b0b3d52e6680de15e4cd53b69eec7ea30e3a5cd4/openfpga_flow/openfpga_yosys_techlib/openfpga_brams_sim.v#L22-L49

Can you try to add initial states like:

[code]

[2022-09-15 18:32] zliu1Charlotte opened #791 "Add a benchmark in the softadder example"
I want to adopt the softadder example from OpenFPGA/openfpga_flow/tasks/quicklogic_tests/lut_adder_test
to a 8 bit counter follow up with a Sbox (my own example).

in the task.conf
i added:  bench4=${PATH:OPENFPGA_PATH}/openfpga_flow/benchmarks/micro_benchmark/adder/counterSBox/*.v
and
added: bench4_top = counterSBox

these remains the same:
[OpenFPGA_SHELL]
openfpga_shell_template=${PATH:OPENFPGA

[2022-09-15 18:36] tangxifan commented on #791
@zliu1Charlotte If you want to use the SuperLUT feature, the synthesis recipe is different. Please check the test case in quicklogic_test

[2022-09-15 18:39] zliu1Charlotte commented on #791
is there a good example that contains with a soft design and skywater tech cell?

[2022-09-15 18:44] tangxifan commented on #791
@zliu1Charlotte If you cannot find it the SOFA repo, then there is none.

[2022-09-15 20:06] zliu1Charlotte commented on #791
Thank you for using OpenFPGA!
 Error 1:
 Type: Routing
 File: /home/pc-1/zliu/OpenFPGA/vpr/src/base/place_and_route.cpp
 Line: 165
 Message: This circuit requires a channel width above 1000, probably is not going to route.
 Aborting routing procedure.

 Error 2: Command 'vpr' execution has fatal errors
 1

I got an error like this. Does this mean the i need a bigger fpga arch?

[2022-09-16 06:16] yunuseryilmaz18 commented on #778
Yes, some `cin` and `cout` pins are not connected to the global routing architecture but I want to implement an adder carry chain on a CLB. What should I do?

[2022-09-16 15:52] #791 closed

[2022-09-16 17:26] LvmhZhD commented on #748
Have you fixed this problem? I had the same problem，my ubuntu is 2204. thx

[2022-09-16 18:21] zliu1Charlotte opened #793 "This circuit requires a channel width above 1000, probably is not going to route."
**i am doing a custom design but it failed on routing.
I am using soft_adder example
here are the files that i am using**

openfpga_shell_template=${PATH:OPENFPGA_PATH}/openfpga_flow/openfpga_shell_scripts/bitstream_setting_example_script.openfpga
  openfpga_arch_file=${PATH:OPENFPGA_PATH}/openfpga_flow/openfpga_arch/k4_frac_N8_reset_softadder_register_scan_chain_caravel_io_skywater130nm_fdhd_cc_o

[2022-09-18 03:19] Baungarten-CINVESTAV opened #795 "Testbench gives multiples 1'bx when use high number of inputs/outputs"
Hello every one,

As the title says i had a couple of erros when i used mutiples i/o. Trying to find the mistake, i simplified my modules on a couple of adders:

The module [adder_128_with_vector ](https://github.com/Baungarten-CINVESTAV/OpenFPGA_addr_test/blob/master/benchmarks/My_bench_Mark/adder_128/adder_128_with_vector.v)is a simple add of two numbers of 128 bits, the output has 129 bits and

[2022-09-18 18:34] zliu1Charlotte opened #796 "mismatch on gfpga output time and bench output time"
after i did vvp compiled_counterSBox on my own design, it showed mismatch time on gfpga and bench, how do i fix this?
VCD info: dumpfile counterSBox_formal.vcd opened for output.
Simulation start
Mismatch on out_0__gfpga at time =               2.00ns
Mismatch on out_1__gfpga at time =               2.00ns
Mismatch on out_5__gfpga at time =               2.00ns
Mismatch on out_6__gfpga at time =

[2022-09-18 19:12] jaysunl commented on #748
@tangxifan
I am compiling using the below OS and compiler. I tried replacing SIGSTKSZ with the constant 32768 but I then got further errors. I think I am approaching the installation process incorrectly.

@LvmhZhD I have not managed to make progress for this error.

[2022-09-18 22:07] #796 closed

[2022-09-18 22:07] #793 closed

[2022-09-18 23:17] zliu1Charlotte opened #797 "only z and x values from gfpga output"
Hi,

I am trying the micro_benchmark/counters/counter_8bit_async_reset/counter.v design on this task.conf setting:

openfpga_shell_template=preconfigured_testbench_without_self_checking_example _script.openfpga
openfpga_arch_file=k6_frac_N10_tree_mux_40nm_openfpga.xml
openfpga_sim_setting_file=auto_sim_openfpga.xml
openfpga_pin_constraints_file = pin_constraints.xml
arch0=k6_frac_N10_tileable_40nm

[2022-09-19 06:43] msaideroglu commented on #788
Hi @tangxifan. I added that initial state in **_OpenFPGA/openfpga_flow/openfpga_yosys_techlib/k6_frac_N10_tileable_adder_chain_mem1K_40nm_cell_sim.v_** . However the result was same as before.

[2022-09-19 07:04] msaideroglu opened #798 "The best CLB architecture features"
What input number should be given when defining vpr_arch file?
`<tile name="clb" area="53894">
      <equivalent_sites>
        <site pb_type="clb"/>
      </equivalent_sites>
      <input name="I" num_pins="40" equivalent="full"/>
      <output name="O" num_pins="10" equivalent="none"/>
      <clock name="clk" num_pins="1"/>
      <fc in_type="frac" in_val="0.15" out_type="frac" out_val="0.10"/>

[2022-09-19 10:01] msaideroglu commented on #793
Hi @zliu1Charlotte . How did you solve this issue? I'm facing the same error.

[2022-09-19 12:02] Baungarten-CINVESTAV commented on #795
Sorry, I forgot to add this information.
Those testbench was run with the task [preconfigured_testbench_without_self_checking](https://github.com/Baungarten-CINVESTAV/OpenFPGA_addr_test/tree/master/tasks/basic_tests/preconfig_testbench/preconfigured_testbench_without_self_checking/config)

[2022-09-19 12:44] msaideroglu opened #799 "Circuit requires a channel width above 1000"
When I use **k6_frac_N10_tileable_adder_chain_40nm.xml** instead of **k6_frac_N10_adder_chain_40nm.xml** to synthesize a counter design with auto_layout feature, it gives `This circuit requires a channel width above 1000, probably is not going to route.` error. Although there is no layout size restriction, why vpr can not route the design with tileable architecture, but can route successfully with

[2022-09-19 15:04] zliu1Charlotte commented on #793
this did not resolved, i went with other task.conf file sorry.

[2022-09-20 09:01] LvmhZhD commented on #748
I found a soultion :change some tool version, but errors come again subsequently .I am also 2204, maybe OpenFPGA need to run in Ubuntu 20 04 without any changing default setting.

[2022-09-20 17:49] zliu1Charlotte commented on #797
I have resolved the first two questions.
My only question left is that when I port my netlists into vivado, gfpga outputs are all "z".
in the gtkwave I see the correct gfpga but do not understand why in vivado all gfpga are all 'z'.
Thanks.

[2022-09-20 17:54] zliu1Charlotte commented on #574
I port the netlist into vivado and my gfpga outputs are all 'z', do you remember how to resolve this issue?

[2022-09-21 01:27] narutozxp opened #801 "openfpga visualization"
The VPR in openfpga does not seem to support visualization, so can we use the original VPR in the VTR to generate the placement and routing results, as well as the routing resource map, and then use openfpga to generate the corresponding HDL code?

[2022-09-21 01:29] kangliyu1 commented on #574
sorry, i didn't fix it

------------------&nbsp;Original&nbsp;------------------
From: &nbsp;"Mike ***@***.***&gt;;
Send time:&nbsp;Wednesday, Sep 21, 2022 1:54 AM
***@***.***&gt;;
Cc:&nbsp;"さ挚さ挚 ***@***.***&gt;; "State ***@***.***&gt;;
Subject: &nbsp;Re: [lnis-uofu/OpenFPGA] some question about simulation (Issue #574)

I port the netlist into vivado and my gfpga outputs are all 'z', do you rememb

[2022-09-21 11:11] msaideroglu commented on #730
Hi @tangxifan. I'm facing same issue. How should I change Yosys script?

[2022-09-22 17:47] zliu1Charlotte commented on #797
I am able to resolve this issues, if anyone else have the same questions, feel free to leave a message to me.

[2022-09-22 17:47] #797 closed

[2022-09-23 18:48] tangxifan commented on #801
@narutozxp Yes. You can use the original VPR to visualize the results. The HDL codes of FPGA fabrics generated by FPGA-Verilog are consistent (unless you change your architecture description).

We will bring the visualization back to OpenFPGA shell.

[2022-09-23 18:50] tangxifan commented on #799
@msaideroglu This is a known bug in tileable routing resource graph. If you try a bigger array size, e.g., 2x2, it should work fine then. Since most FPGA fabrics are way bigger than 2x2, we do not see such problems in practice often. Therefore, it is not so urgent for use to fix.

See details in https://github.com/lnis-uofu/OpenFPGA/issues/71

[2022-09-23 18:50] #799 closed

[2022-09-23 18:56] msaideroglu commented on #799
Thanks @tangxifan for clear explanation.

[2022-09-23 18:58] tangxifan commented on #798
@msaideroglu

The classical formula is applied when there are no hard adders in the CLB. It can promise your ~98% utilization of CLB resources, as stated in Prof. Vaughn Betz's thesis.

However, when you have hard adders in CLB, you need more independent inputs, if you want to implement a full-adder using a CLB. Take the example of k6_frac_N10 architecture, there are 20-bit hard adders, which requ

[2022-09-23 18:58] #798 closed

[2022-09-23 19:01] msaideroglu commented on #798
Thanks @tangxifan. Clearly understood.

[2022-09-23 19:01] tangxifan commented on #788
@msaideroglu Sorry. The initial states should be added to your HDL design rather than the ``cell_sim.v``

[2022-09-23 19:06] tangxifan commented on #748
@jaysunl @LvmhZhD Hi All, please be aware that

- We ensure OpenFPGA has no issues when compiling on Ubuntu 18.04 through CIs.
- We have also tested on local machines with Ubuntu 20.04 and it is working fine.
- We have **not** tested on Ubuntu 22.04. There could be some issues that we currently do not have any solution.

We do plan to extend our OS support, e.g., Windows and latest ubuntu. Please

[2022-09-23 19:07] tangxifan commented on #795
@Baungarten-CINVESTAV Can you check if the post-synthesis netlists from Yosys is correct or not? This will help us to spot the bug.

[2022-09-23 23:05] Baungarten-CINVESTAV commented on #795
Hello @tangxifan

With the post-synthesis netlists from Yosys file are you talking about [xxx_ace_out.blif](https://github.com/Baungarten-CINVESTAV/OpenFPGA_addr_test/blob/master/tasks/basic_tests/preconfig_testbench/preconfigured_testbench_without_self_checking/run001/k6_frac_N10_tileable_40nm/adder_128_with_vector/MIN_ROUTE_CHAN_WIDTH/adder_128_with_vector_ace_out.blif),[ xxx_yosys_out.blif](htt

[2022-09-26 02:12] narutozxp commented on #801
The problem now is that I first generate the RTL file of the FPGA through openfpga, and the layout and routing results of the corresponding benchmark. But we found that vpr's performance evaluation results are far more optimistic than DC, so we want to locate the problem by observing the routing results of simple circuits, but openfpga cannot be visualized, so we use VTR to achieve our purpose, bu

[2022-09-26 21:58] tangxifan commented on #748
@jaysunl @LvmhZhD The compilation errors should be gone if you use the latest OpenFPGA v1.2.x

Close it now. If you still see issues, please let us know,

[2022-09-26 21:58] #748 closed

[2022-09-27 17:02] LvmhZhD commented on #748
Works well now.Thank you

[2022-09-28 07:16] mustafaarslan0 opened #813 "Yosys does not techmap appropriate fracturable DSP mode"

[2022-09-28 07:57] yunuseryilmaz18 opened #814 "The question about dual port ram 1024x32 mode of frac_mem_32k.v"
Hi,
While I was reading the [frac_mem_32k.v](https://github.com/lnis-uofu/OpenFPGA/blob/master/openfpga_flow/openfpga_cell_library/verilog/frac_mem_32k.v) file, I noticed something in [line 161](https://github.com/lnis-uofu/OpenFPGA/blob/master/openfpga_flow/openfpga_cell_library/verilog/frac_mem_32k.v#L161). It is dpram 1024x32 mode of the module but it does not use we_b for writing data_b to ram

[2022-09-28 11:36] mustafaarslan0 opened #815 "Repack fails on fracturable dsp36 architecture"
OpenFPGA shell fails when running task with fracturable dsp36 architecture.
Shell gives me this error:
![image](https://user-images.githubusercontent.com/24413057/192759767-2215facb-dd90-4a69-873a-6afd59281bff.png)

Task:
[task_frac_dsp36.zip](https://github.com/lnis-uofu/OpenFPGA/files/9664457/task_frac_dsp36.zip)

[2022-09-30 06:15] msaideroglu commented on #798
Hi @tangxifan again. I checked **k4_frac_N4_adder_chain.xml** arch file and the inout definition is like
`<input name="I" num_pins="12" equivalent="full"/>
<input name="cin" num_pins="1"/>
<output name="O" num_pins="8" equivalent="none"/>
<output name="cout" num_pins="1"/>`

If there are 8-bit hard adders don't we need 16-bit inputs instead of 12? Which point am I missing?

[2022-10-03 12:35] omarghoneim3 opened #821 "create 24hour clock"
I wrote the code with test bench which are validated in quartus 2, so i think the problem is in my taskconfig.
Task config
[BENCHMARKS]
bench0=${PATH:OPENFPGA_PATH}/openfpga_flow/benchmarks/micro_benchmark/24clock/24clock.v
bench1=${PATH:OPENFPGA_PATH}/openfpga_flow/benchmarks/micro_benchmark/or2/or2.v
bench2=${PATH:OPENFPGA_PATH}/openfpga_flow/benchmarks/micro_benchmark/24clock/hours_minutes_seco

[2022-10-03 12:37] omarghoneim3 commented on #821
/////////////////////////////////////////
//  Functionality: 2-input AND
//  Author:        Xifan Tang
////////////////////////////////////////
`timescale 1ns / 1ps

module clk24(
  a,
  b,
  c);

input wire a;
input wire b;
output wire c;

assign c = ~(~(b&~(a&a))&~(a&(b&b)));

endmodule

[2022-10-04 04:43] tangxifan commented on #694
@msaideroglu The problem should be resolved by merging the PR. Let me know if it works for you.

[2022-10-04 10:43] omarghoneim3 commented on #821
I wrote the code with test bench which are validated in quartus 2, so i think the problem is in my taskconfig.
[ARCHITECTURES]
arch0=${PATH:OPENFPGA_PATH}/openfpga_flow/vpr_arch/k4_N4_tileable_40nm.xml

[BENCHMARKS]
bench0=${PATH:OPENFPGA_PATH}/openfpga_flow/benchmarks/micro_benchmark/24clock/24clock.v
bench1=${PATH:OPENFPGA_PATH}/openfpga_flow/benchmarks/micro_benchmark/or2/or2.v
bench2=${PATH:OP

[2022-10-04 12:36] msaideroglu opened #825 "Yosys vs Vivado Synthesis Performance Comparison"
I was working on a Uart benchmark in **k6_frac_N10_tileable_adder_chain_dpram8K_dsp36_fracff_40nm** arch. When I compare Vivado synthesis results with Yosys synthesis, I'm seeing important difference in terms of LUT numbers used. The results I obtained with Vivado and Yosys respectively:

`
| FDRE     |   34 |
| LUT6     |   15 |
| LUT3     |   12 |
| LUT4     |    6 |
| LUT5     |    5 |
| LUT2

[2022-10-04 19:08] #694 closed

[2022-10-05 11:10] yunuseryilmaz18 opened #827 "Find a pb_type 'mem_1024x32_dp' which has not been mapped to any physical pb_type."
[X] OpenFPGA flow

[arch_fix_bram_dsp_fracff2edge.zip](https://github.com/lnis-uofu/OpenFPGA/files/9715077/arch_fix_bram_dsp_fracff2edge.zip)

[2022-10-05 18:30] zliu1Charlotte opened #829 "skywater130nm into k6_N10 arch issue"
Hi, I have issues when implementing skywater130nm standard cells into level2 mux from k6_N10_40nm.xml

[code]

I was able to implement k4_n4 arch with skywater but having issues with level 2 mux in the k6_n10
Any suggestions?
Thanks

[2022-10-06 16:19] zliu1Charlotte opened #830 "Error with activity file"
Hi I am running a AES example on my end, the error message is:
[code]
I do not have a signal called valid_ready on my verilog files.
Have you seem this error before?
Thanks

[2022-10-06 16:24] tangxifan commented on #830
Please check the example scripts which bypass ACE2

https://github.com/lnis-uofu/OpenFPGA/blob/master/openfpga_flow/openfpga_shell_scripts/example_without_ace_script.openfpga

[2022-10-06 16:24] #830 closed

[2022-10-06 18:43] zliu1Charlotte opened #831 "Can openfpga take vhdl files as benchmarks"
I know it will be an issue of yosys, do we have any examples on vhdl based benchmarks?
Thanks

[2022-10-06 18:44] zliu1Charlotte commented on #830
Resolved thanks

[2022-10-06 18:45] tangxifan commented on #831
@zliu1Charlotte Unfortunately no. You may look into the GHDL-plugin for yosys

[2022-10-06 18:45] #831 closed

[2022-10-06 20:37] tangxifan opened #832 "Clean-up work after VTR upgrade"
**Is your feature request related to a problem? Please describe.**

As described in #747 , there are some unfinished tasks in the PR, but it is blocking the PR to be merged.
However, they are mainly some clean-up work:

- [x] Upgrade docker support for Ubuntu 20.04 or latest image. Prefer 20.04 as it is a current Long-Term Support version. Ubuntu 18.04 is no longer supported (no maintainance) on g

[2022-10-06 22:27] tangxifan commented on #832
Consider to use an online configurator to visualize the clang-format file

https://zed0.co.uk/clang-format-configurator/

[2022-10-06 23:10] tangxifan commented on #832
## XML Formatting Considerations

### Principles

- Consider to use [xmllint](https://gnome.pages.gitlab.gnome.org/libxml2/xmllint.html) as suggested by @ganeshgore
- Code formatting only applied to architecture files and related input files for OpenFPGA flows, excluding all the submodules, e.g., vtr-verilog-to-routing etc.
- Code formatting can be automatically done by calling a make target using

[2022-10-06 23:16] tangxifan commented on #832
## Python Formatting Considerations

### Principles

- Consider to use [pylint](https://books.agiliq.com/projects/essential-python-tools/en/latest/linters.html#pylint)
- Code formatting only applied to architecture files and related input files for OpenFPGA flows, excluding all the submodules, e.g., vtr-verilog-to-routing etc.
- Code formatting can be automatically done by calling a make target us

[2022-10-06 23:18] tangxifan commented on #832
@ganeshgore Please suggest the python code format from your point of view.

[2022-10-09 18:33] Baungarten-CINVESTAV commented on #795
Hello,

I have checked all the .blif files and their boolean equations are correct, to test the blif file, I developed a matlab script that takes the blif file and gets the SOP boolean equation for each output, then I compared the result of the boolean equation with a golden variable that stores a 128 bit sum. I did the same with the 3 blif files and everything works fine.

I also developed a test

[2022-10-11 05:02] mustafaarslan0 commented on #815
Thank you for review. I think we need appropriate DSP techmap files and YoSYS script to map all DSP modes. Issue #813

[2022-10-12 13:48] zliu1Charlotte opened #840 "skip yosys"
Hi I have my post-synth benchmark .v netlist, is there a way to skip yosys and go straight to the vpr and openfpga shell flow?
Thanks!
(the reason is that my .v netlist is from .vhd, and so far I couldn't find a way to do that in yosys verific )

[2022-10-12 16:34] tangxifan commented on #840
@zliu1Charlotte Please check the flow_type in task configuration file

https://openfpga.readthedocs.io/en/master/manual/openfpga_flow/run_fpga_task/#cmdoption-arg-fpga_flow

[2022-10-12 16:34] #840 closed

[2022-10-12 23:54] Baungarten-CINVESTAV commented on #797
Hello,

Please could you tell me how you fixed the "x" values during simulation?

Your answer could help me to solve my issue [#795](https://github.com/lnis-uofu/OpenFPGA/issues/795)

[2022-10-18 05:15] #776 closed

[2022-10-19 15:04] omarghoneim3 opened #848 "I am trying to create a Clock with my verilog code"
I am trying to create a Clock with my verilog code which has counter and associated with XOR, so I added  circuit model of X-or with type to the xml file and my counter to circuit model with type hard logic. For hard logic, I need to FPGA_spice, but I am not sure how or where to download it

[2022-10-19 15:05] #821 closed

[2022-10-20 22:54] tangxifan commented on #848
@omarghoneim3 FPGA-SPICE is still under integration to OpenFPGA. It is far from accomplished yet.

[2022-10-20 22:54] #848 closed

[2022-10-20 22:55] tangxifan commented on #829
Please share the log file or detailed error message, so that I can help.

[2022-10-20 23:00] tangxifan commented on #813
@mustafaarslan0 I am aware of this issue. Currently, I do not have a better solution. You may have to ask Yosys community and see if there is any solution.

[2022-10-20 23:00] #813 closed

[2022-10-20 23:01] tangxifan commented on #814
@yunuseryilmaz18 This is a bug, which have been fixed already. Please check #849

[2022-10-20 23:01] #814 closed

[2022-10-20 23:03] tangxifan commented on #815
@mustafaarslan0 I see you patches. I believe the issue has been resolved. Close this issue now. If you see problem insists, please reopen.

[2022-10-20 23:03] #815 closed

[2022-10-20 23:05] #749 closed

[2022-10-20 23:06] tangxifan commented on #749
Close for now. If you still have question, please reopen and discuss.

[2022-10-20 23:14] tangxifan commented on #788
@msaideroglu Let me know if the issue still exist. Close the issue for now.

[2022-10-20 23:14] #788 closed

[2022-10-21 18:32] #829 closed

[2022-10-21 18:33] zliu1Charlotte commented on #797
The issue is on the user_defined_templates.v. it is empty.
You need the corresponding dff.v and gpio.v

[2022-10-21 20:51] zliu1Charlotte opened #853 "active low reset"
can openfpga fabric has active low reset?
I have a benchmark it is active low reset and I ran on k4n4 but the no correct value is showing on the out_gfpga.
is there a pin assignment or anything that can let the fpga fabric know this is a active low reset?
Thanks.

[2022-10-21 21:07] zliu1Charlotte commented on #853
I got it, it's in the openfpga_arch file.

[2022-10-21 21:07] #853 closed

[2022-10-24 11:53] omarghoneim3 opened #858 "T-flipflop using counter with Xor and Nand gates"
I built my own T-flipflop using counter with Xor and Nand gates in order to create a clock . I am trying to to do it on openfpGA, but I am not sure about how to write XML since FPGA-spice is not ready as you said earlier and I dontknow how to finish my xml code if spice_netlist does not work. what other ways to create xml to test my code?

[2022-10-24 14:10] omarghoneim3 commented on #858
when i edited th vpr_arch, I get this error
python3 openfpga_flow/scripts/run_fpga_task.py basic_tests/full_testbench/configuration_chain --show_thread_logs
 INFO (     MainThread) - Set up to run 2 Parallel threads
 INFO (     MainThread) - Currently running task basic_tests/full_testbench/configuration_chain
 INFO (     MainThread) - Created "run108" directory for current task run
 INFO (     Ma

[2022-10-25 20:00] zliu1Charlotte opened #860 "full testbench on adder"
Hi, I am using the task file from /OpenFPGA/openfpga_flow/tasks/basic_tests/full_testbench/configuration_chain/config/
and I added a benchmark:
bench3=${PATH:OPENFPGA_PATH}/openfpga_flow/benchmarks/micro_benchmark/adder/adder_8/adder_8.v
I want to use the full testbench.
The openfpga shell script is working fine but it froze at Launching vvp_verification.
So it never generates the vcd file.
Is the

[2022-10-25 20:27] tangxifan commented on #860
Please do not use iverilog when you have complex fabric. Runtime is very long. Recommend commercial HDL simulators, like Modelsim.

[2022-10-25 20:27] #860 closed

[2022-10-25 20:59] zliu1Charlotte opened #861 "bits "jumping" on the fpga output"
![Screenshot from 2022-10-25 16-57-15](https://user-images.githubusercontent.com/48894053/197880449-f5a159ba-dd84-4550-8d85-e58f57fffb20.png)

Hi, i am able to generate the vcd file on full_testbench with a adder_8 benchmark, but I see in the sum_fpga_output, there are some bits that are "jumping" showing in the figure. even tho this seems to be within cycle and did not give errors but I wonder if

[2022-10-26 15:11] zliu1Charlotte opened #863 "ace2 related question"
Hi, I run into a question about ace2.
I know that we are able to bypass the ace2 in the openfpga shell script.
Currently I am not sure where the ace2 is being used in openfpga (in my case)?
What I need on my end is to have the fabric netlist and bitstream, I use commercial tools to do simulation and power generation. So I wonder if I skip this ace2 step would it effect my lateral simulation and po

[2022-10-26 16:34] tangxifan commented on #863
No impact on your later simulation. It is just analysis

[2022-10-26 16:34] #863 closed

[2022-11-02 13:39] #861 closed

[2022-11-03 07:40] #825 closed

[2022-11-03 07:48] msaideroglu opened #874 "dpram memory error in OpenFPGA arch file"
I am trying to integrate my own architecture with dpram by taking an architecture file with dpram property as reference. However when I try to run a benchmark I'm getting **Error 1: Miss a default circuit model for the type hard_logic! Try to define it in your architecture file!
Error 2: Command 'read_openfpga_arch' execution has fatal errors** I integrated a few architectures with dpram before an

[2022-11-03 08:14] narutozxp opened #875 "the impect of tileable"
I am using VTR inside OpenFpga to visualize the structure of my entire fabric. I used "--route_chan_width 100" to fix the channel width, and the entire architecture uses line segments of length 4,however,When "tileable=true" is set, from the visualization results, the width of the entire channel is far less than 100. In addition, I found that although all the wires used in my architecture are wire

[2022-11-03 13:17] msaideroglu commented on #874
I solved the issue by adding "is_default=true" parameter to the hard_logic dpram definition. Thanks.

[2022-11-03 13:17] #874 closed

[2022-11-03 15:28] zliu1Charlotte opened #876 "post-synth simulation"
Dear,
I used a and4 example with skywater130nm fpga arch on k4n4_cc_40nm.
I synthesis the fabric netlist in cadence genus using skywater130nm lib (only took the fabric verilog, did not include sdc files).
Now I am taking the post-synth netlist and .sdf and full testbench, and skywater cells to do gate level simulation using vsim.
But the all the fpga_pads are x.
It seems like none of the skywater

[2022-11-03 17:14] tangxifan commented on #875
@narutozxp There is a bug when visualize the tileable rr graph for now. It is on our roadmap to fix it. Currently, I suggest to use VTR's visualizer to check layout correctness only.

[2022-11-04 10:46] narutozxp opened #878 "s_single_fanout_pb_pin(const_cast<const t_pb_graph_pin*>(new_sink_pb_pin_to_add))' failed""
When I changed the architecture file of openfpga, the error "post_routing_pb_pin_fixup.cpp:747 update_cluster_regular_routing_traces_with_post_routing_results: Assertion 'is_single_fanout_pb_pin(const_cast<const t_pb_graph_pin*>(new_sink_pb_pin_to_add))' failed" occurred, but I still can't solve it after modifying the architecture file many times This question, can I ask the possible reasons for t

[2022-11-07 17:06] Baungarten-CINVESTAV opened #880 "Simulation errors of icarus verilog vs. commercial HDL simulators"
![Questasim_add32](https://user-images.githubusercontent.com/101527680/200367441-eba014a7-bdf1-4203-beb2-1bab834ea1b1.png)

The ".vcd" file generated by QuestaSim works fine.
![VDC_QuestaSim](https://user-images.githubusercontent.com/101527680/200368193-4d843cfd-e590-4cd3-91a7-c226e7253fd2.png)

< ---    - [x] Ubuntu 20.04.5 LTS --->

< ---    - [x] gcc-9 --->

< ---    - [x] Current master --->

[2022-11-07 17:29] tangxifan commented on #880
@Baungarten-CINVESTAV It seems a bug of icarus Verilog in my view. Since we have no access to commercial simulators in OpenFPGA CI, we have to use iVerilog for simple and quick verification. I suggest you stay with commercial simulators in your current project.

[2022-11-08 00:34] Baungarten-CINVESTAV commented on #880
Thank you for your quick response

[2022-11-08 00:37] Baungarten-CINVESTAV commented on #795
This issues was solve in #880, Summary, icarous verilog has some flaws.

[2022-11-08 00:37] #795 closed

[2022-11-08 07:12] msaideroglu opened #883 "A bigger design is routable but sub-block of that design is not routable seperately"
I'm running a uart benchmark on a k4n8 architecture file with no local routing. It's adapted from a sky130 architecture. Although I can run several benchmarks on it, I am facing some interesting cases. A **uart** top module and **uart_tx** submodule seperately can be placed and routed. However when I try to run **uart_rx** sub-module seperately it says "**Circuit is unroutable with a channel width

[2022-11-09 13:19] yunuseryilmaz18 opened #885 "VPR does not map the BLIF on VTR architecture file"
[ ] Documentation
[ ] OpenFPGA flow
[ ] FPGA-Verilog
[ ] FPGA-Bitstream
[ ] FPGA-SDC
[ ] FPGA-SPICE
[X] VPR
[ ] Yosys

[dpram_mac_dff.zip](https://github.com/lnis-uofu/OpenFPGA/files/9971412/dpram_mac_dff.zip)

[2022-11-09 18:46] zliu1Charlotte opened #886 "number of clb blocks and io block are being used"
Hi, I have a rather simple question.
For example, and4 benchmark with skywater130 k4n4 cc structure.
I went into the fpga_top.v file and count that it has 1 clb (how did I count this? 1 because I only see one clb being instantiated), 4 io blocks (4 io blocks are being instantiated, top, bottom, left, right), 4 sb blocks, 4 cb blocks, but why in the task_results.csv file it says 1 clb and 7 io bloc

[2022-11-09 19:38] tangxifan commented on #885
@yunuseryilmaz18 I see you have defined two blif model ``spram64x32`` with different port sizes. That may be the root of cause.

![image](https://user-images.githubusercontent.com/11499826/200925042-becef76f-388a-4d77-b78a-1a7e42f28e31.png)

[2022-11-10 07:29] yunuseryilmaz18 commented on #885
@tangxifan Deleted the `blif_model` in the physical mode, now I get this error:
`Error 1: ../arch/k4_frac_N8_tileable_adder_chain_mem1K_dsp8_fracff2edge.xml:1197 Unexpected child 'T_setup' of node 'pb_type'. Expected (possibly) one of: 'input', 'output', 'clock', 'mode', 'power', 'metadata', 'model', 'pb_type', or 'interconnect'.`

[2022-11-11 19:56] zliu1Charlotte opened #889 "Utilization on sb and cb"
Hi, do we know what is the utilization on sb and cb for each benchmark?
I see we have the block utilization posted on clb and io in vpr_stdout.log.
Do we have the same report on sb and cb?
Thanks!

[2022-11-13 08:33] narutozxp opened #890 "how to using custom mux in openfpga"
Whether a Multiplexer can be built with a four-input mux（or larger）.Because I read in your paper that you customized a lot of mux（1-level N -input multiplexers (2 ≤N ≤ 7)），So I also want to customize the unit to improve the performance。Is there an appropriate demo to tell openfpga how to use these custom units.
thanks a lot!

[2022-11-14 15:10] omarghoneim3 opened #891 "Failed to execute openfpga flow"
I created the xml file for architecture,VPR arch code, together with openfpga arch. Then, I edited spice netlist and verilog code. I get the error below which I don't know where it comes from

[2022-11-14 15:14] omarghoneim3 commented on #891
python3 openfpga_flow/scripts/run_fpga_task.py basic_tests/full_testbench/configuration_chain --show_thread_logs
 INFO (     MainThread) - Set up to run 2 Parallel threads
 INFO (     MainThread) - Currently running task basic_tests/full_testbench/configuration_chain
 INFO (     MainThread) - Created "run116" directory for current task run
 INFO (     MainThread) - Running "yosys_vpr" flow
 INFO (

[2022-11-17 18:19] tangxifan commented on #891
INFO (00_24clock.v_MIN_ROUTE_CHAN_WIDTH) - self._root = parser._parse_whole(source)
INFO (00_24clock.v_MIN_ROUTE_CHAN_WIDTH) - xml.etree.ElementTree.ParseError: mismatched tag: line 283, column 12

@omarghoneim3 Please check LINE 283 of your architecture files.

[2022-11-17 18:19] #891 closed

[2022-11-17 18:21] tangxifan commented on #890
You may look into the ``mux_primitives.v`` file. For each module inside, you may consider to customize them.

[2022-11-17 18:21] #890 closed

[2022-11-17 18:22] tangxifan commented on #889
Currently, I do not have the stats. But it should be fairly easy to create. In general, if you are interested in the routing utilization, you can find these numbers by enabling ``--full_stats on`` when running vpr.

[2022-11-17 18:26] tangxifan commented on #885
@yunuseryilmaz18 For any primitive pb_type, you need a blif model. You may consider to create two blif models in different names.

[2022-11-17 18:27] tangxifan commented on #883
I see this issue in recent VTR upgrade. Currently, I do not have a better solution than trying different routing channel width numbers.

[2022-11-17 19:38] zliu1Charlotte commented on #889
Thanks!

[2022-11-18 05:52] yunuseryilmaz18 commented on #885
@tangxifan I gave a different name for the physical mode but it still gives the same error, `Message: Port 'data_in[1]' on architecture model 'spram64x32' exceeds port width (1 bits)`

[2022-11-18 11:15] omarghoneim3 opened #902 "error in architecture, but it appears in </architecture>"
python3 openfpga_flow/scripts/run_fpga_task.py basic_tests/full_testbench/configuration_chain --show_thread_logs
 INFO (     MainThread) - Set up to run 2 Parallel threads
 INFO (     MainThread) - Currently running task basic_tests/full_testbench/configuration_chain
 INFO (     MainThread) - Created "run144" directory for current task run
 INFO (     MainThread) - Running "yosys_vpr" flow
 INFO (

[2022-11-18 11:25] omarghoneim3 commented on #902
![Capture2](https://user-images.githubusercontent.com/109771318/202694767-29796d5d-5faa-47ce-9549-6f588579bddd.JPG)

[2022-11-18 14:11] omarghoneim3 commented on #902
<openfpga_architecture>
  <models>
     <model name="io">
      <input_ports>
        <port name="outpad"/>
      </input_ports>
      <output_ports>
        <port name="inpad"/>
      </output_ports>
    </model>
  </models>

  <tiles>
    <tile name="io" capacity="8" area="0">
      <equivalent_sites>
        <site pb_type="io"/>
      </equivalent_sites>
      <input name="outpad" num_pins="1"/

[2022-11-18 19:35] tangxifan commented on #885
@yunuseryilmaz18 Can you try to remove the ``class=memory`` as well as ``port_class``?

[2022-11-21 05:28] yunuseryilmaz18 commented on #885
@tangxifan Removing `class=memory` and `port_class` helped me to pass the placement stage without errors, but now the routing stage is failing with
[code]

[2022-11-21 15:24] omarghoneim3 opened #904 "I am getting this error, but I am not sure where it comes from"
python3 openfpga_flow/scripts/run_fpga_task.py basic_tests/full_testbench/configuration_chain --show_thread_logs
 INFO (     MainThread) - Set up to run 2 Parallel threads
 INFO (     MainThread) - Currently running task basic_tests/full_testbench/configuration_chain
 INFO (     MainThread) - Created "run167" directory for current task run
 INFO (     MainThread) - Running "yosys_vpr" flow
 INFO (

[2022-11-21 17:42] tangxifan commented on #904
@omarghoneim3 Please check your yosys log files, as the error comes from yosys:

[code]

[2022-11-21 17:42] #904 closed

[2022-11-21 18:22] tangxifan commented on #885
@yunuseryilmaz18 Please share you log file so that it is easier to spot the bug.

[2022-11-21 18:46] tangxifan opened #905 "Windows Support"
**Is your feature request related to a problem? Please describe.**
Currently, the operating systems that OpenFPGA supports are

- Ubuntu
  - 18.04
  - 20.04
  - 22.04 (not tested on CI, but validated on local machines)
- CentOS
  - 7.8 (not tested on CI, but validated on local machines)
  - 8.0 (not tested on CI, but validated on local machines)

However, there is no support on Windows platforms y

[2022-11-21 20:09] tangxifan opened #906 "Provide a command to standalone VPR (no impact on context data)"
**Is your feature request related to a problem? Please describe.**
Currently, users can call vpr in openfpga shell with the same interface as they use standalone VPR in upstream.
However, users can not repeatedly call vpr to run staged jobs, e.g., packing-only, placement-only, and routing-only etc.
This may unlock more workflows when running vpr.
For instance

[code]

**Describe the solution you'd

[2022-11-21 20:32] tangxifan opened #907 "More bitstream setting syntax to override bitstream parameters in openfpga architecture file"
**Is your feature request related to a problem? Please describe.**
Currently, bitstream manipulation can be done in several ways:

- Write bitstream parameters in the OpenFPGA architecture file, such as [mode_bits](https://openfpga.readthedocs.io/en/master/manual/arch_lang/annotate_vpr_arch/#cmdoption-arg-circuit_model_name)
- Define bitstream overloading through [a bitstream setting file](https:/

[2022-11-22 10:31] mustafaarslan0 opened #912 "Different multiplexers on LUTs and Interconnections"
Hi. I was browsing the netlist and I realized multiplexers use much config memory than usual. Generally 2x1 MUX use 1 select bit like MUXes in the LUTs of the OpenFPGA. But other MUXes use as many selects as the number of inputs. What is the reason of that? Is it possible to build complete connections(crossbar) with MUX like LUT's MUX? Thanks.

The MUX using in crossbar:
![image](https://user-imag

[2022-11-22 17:12] yunuseryilmaz18 commented on #885
@tangxifan I've added the log file.
[vpr_stdout.log](https://github.com/lnis-uofu/OpenFPGA/files/10069574/vpr_stdout.log)

[2022-11-22 18:11] tangxifan commented on #912
@mustafaarslan0

Routing multiplexers may be implemented in different circuit topology for FPGAs. This is because that each topology carries a different level of P.P.A.
Therefore, OpenFPGA support various circuit implementation of routing multiplexers, allowing chip designers to custom the circuit design of their routing multiplexers in different blocks of an FPGA.
It means that it is chip designe

[2022-11-22 19:22] tangxifan commented on #885
@yunuseryilmaz18

I see some pins are reachable reported by VPR. (See LINE363 in your log file)

This could be due to the pin locations of your BRAM tile.
Here are the things that you may try

- Enable ``[through_channel](https://openfpga.readthedocs.io/en/master/manual/arch_lang/addon_vpr_syntax/#cmdoption-arg-through_channel)`` in the tileable options. The ``spread`` style of VPR may cause some

[2022-11-23 07:01] yunuseryilmaz18 commented on #885
@tangxifan Thank you very much, it routes now. Do pin locations affect performance and area, is there any research about it?

[2022-11-23 18:36] tangxifan commented on #885
@yunuseryilmaz18 You may refer to Prof. Vaugh's book, which discusses about impacts of the pin location on P.P.A.

[2022-11-23 18:57] #885 closed

[2022-11-23 19:00] tangxifan commented on #885
@yunuseryilmaz18 Close the issue now as the problem is resolved. Feel free to open if you see further issues.

[2022-11-23 19:37] tangxifan opened #915 "APIs for SWIG + Tcl & Python"
**Is your feature request related to a problem? Please describe.**
As stated in #516 , Tcl and python interface can potentially unlock enormous possibilities for users when exploiting OpenFPGA's commands. To ease such integration, SWIG is a preferred way to bind C++ APIs to the upper-level interface.

However, SWIG requires OpenFPGA APIs to be encapsulated in objects (we do not want to expose any

[2022-11-23 19:40] tangxifan commented on #912
@mustafaarslan0 Close for now. If you need more information, feel free to comment.

[2022-11-23 19:40] #912 closed

[2022-11-23 22:58] tangxifan opened #916 "Subtile support"
**Is your feature request related to a problem? Please describe.**

Thanks @ganeshgore to initiate the discussion and code changes, the tile annotation is one of the code changes we should expect.
Moreover, the subtile support may require changes in netlist generators, testbench generators and even bitstream generators.
A valid and specific testcase is required to ensure that the support is operat

[2022-11-24 05:05] ganeshgore commented on #916
@tangxifan Thank you for evaluating the PR;

The variations you proposed look good and make sense to me.

While we are at it, we should also consider the `pin_mapping` functionality.
If this feature is also functional, we can have better naming for tile pins containing subtitles.

It seems that it should work by default after the above changes. But for the `tile_annotation` section, we will have t

[2022-11-24 05:18] #883 closed

[2022-11-24 07:00] mustafaarslan0 commented on #912
Thanks for your reply. I have another question for muxes:
When "add_const_input" is true, does OpenFPGA selects const input if no input is selected? Or, is cont input exist for only parasitic activities and leakage power?

[2022-11-24 15:43] ganeshgore commented on #915
@tangxifan Thank you again for the great detail.

Quick question, why can't we call `read_openfpga_arch`  as a native command from the TCL (as detailed in #516) instead of going through `OPENFPGA_TCL.run(***)` wrapper
I thought we would replace the current `OpenFPGAshell` implementation with a clean TCL and PYTHON interface with SWIG, not just a wrapper. Eventually, we want to make more granular c

[2022-11-24 19:44] tangxifan commented on #915
@ganeshgore These are good thoughts. I share my thoughts after my investigation on current codebase.

### Concerns about Raw API

I was planning to open some native APIs from C++ to Tcl/Python. But it will expose a lot of data structures to users/developers, such as the complete architecture APIs, as well as many internal options. My concerns is that at the current stage of OpenFPGA APIs (we lack

[2022-11-24 21:09] tangxifan commented on #912
The constant input is a physical input of routing mutliplexers when enabled. It is not virtual.

[2022-11-24 22:12] ganeshgore commented on #915
@tangxifan Thanks for all the detail again.
Let me provide some clarity on my previous reply, I was not suggesting to abandon openfpgashell now. My proposal was start developing TCL/Python interface simultaneously (while keeping openfpgashell stable)which not just a wrapper on top of openfpgashell.

Let me provide my view of use cases you provides above
- **Manipulating file .... :**
    If I unde

[2022-11-24 22:23] tangxifan commented on #915
@ganeshgore Thank you for the inputs.

I agree that the first integration may not provide the technical features that you want.
I agree that your technical features should be included in future version of OpenFPGA.
However, doing an aggressive upgrade (a big jump on existing codebase) is always a big risk. We have experienced so when upgrading RRGraph in VTR.
In addition, exposing raw data structu

[2022-11-24 22:50] ganeshgore commented on #915
Agreed, Not asking for aggressive upgrade.
All I am saying here is if we are integrating TCL/Python we should do it a correct way, which is scalable and usable and most importantly scriptable. Just having some for of TCL or python interface will not provide any advantage.

You can take call when to expose which data structure, I dont think just direct integration exposes everything. We still need

[2022-11-24 23:07] tangxifan commented on #915
@ganeshgore No worries. I think what you are asking for is reasonable and OpenFPGA should provide them eventually (after several major iterations on Tcl/Python binding). However, in the first milestone, we may not be able to reach that level immediately. It may take some time but I believe we will be there.

For interface files, we still have to learn some detailed syntax, so that we know how to c

[2022-11-30 10:22] msaideroglu opened #929 "Hard IP Integration with OpenFPGA"
Is it possible to add any hard-IP to be automatically elaborated by Yosys such as FIFO, UART in FPGA as sub-tiles. I want to have embedded FIFO and UART blocks that  can be used in the designs with higher performances. If possible, how can I generate technology map files for Yosys?

[2022-11-30 17:22] tangxifan commented on #929
@msaideroglu Technology map files for yosys are hand crafted. You can read Yosys manual.